"*":
  "exception-reporting":
    userId: "7dca5b50-3efb-caf9-5e51-e4a576d85fb7"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "ide-flow"
    ]
    themes: [
      "atom-material-ui"
      "base16-syntax"
    ]
  editor:
    invisibles: {}
    tabLength: 4
    fontFamily: "Source Code Pro"
  linter: {}
  "linter-elixirc":
    elixircExecutablePath: "/usr/local/bin/elixirc"
  tabs:
    showIcons: true
    usePreviewTabs: true
  "ide-flow":
    flowPath: '''
      /usr/local/bin/flow
      
    '''
  react: {}
  jshint:
    supportLintingJsx: true
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  "autocomplete-plus-python-jedi": {}
  "base16-syntax":
    scheme: "Marrakesh"
  "go-plus":
    goPath: "/Users/marian/Projects/recipeShare/src/third_party:/Users/marian/Projects/recipeShare/src/code"
  "isotope-ui":
    fontFamily: "Source Sans Pro"
    fontWeight: "Regular"
    backgroundColor: "false"
    spaciousMode: true
  "atom-material-ui":
    accentColor: "Orange"
    rippleAccentColor: true
    showTabIcons: true
    compactTreeView: true
    panelContrast: true
".angular.html.text":
  editor:
    tabLength: 4
